<!DOCTYPE html>
<html>
{% load static %}
<head>
{% include "bootstrap.html" %}
<link rel="stylesheet" href="{%static 'css/thumbnail.css' %}"/>
</head>
<body>
{% include "navigation.html" %}
<section>
<p class="lead"><em><strong> NAME -Manavi Uttam Ghorpade.
<br>ABOUT - I am a graduate student as Chico State. I am currently in my second year of computer science major. I have worked on cloud computing during my bachelors.</br>
GOALS & INTERESTS - I want to become a cyber security expert and help my company with it. My goal is to set up a company related to cyber security.</strong> </em> </p>
</section>

<div class="container-fluid text-center bg-grey">
  <h2>I love my pets</h2>
  <h4> Here are some photos of them </h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img1.jpeg'%}"  />
        <p><strong>Daniyal and Kayyu</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img2.jpeg'%}"  />
        <p><strong>Dyanvardunu</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img3.jpeg'%}"  />
        <p><strong> Kunnu </strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img4.jpeg'%}"  />
        <p><strong> Tuna Fishu </strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img6.jpeg'%}"  />
        <p><strong> Dabby </strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{%static 'image/img7.jpeg'%}"  />
        <p><strong> Dabby </strong></p>
      </div>
    </div>
</div>
</body>
